<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Required for the startup app.conf request and the steer web view. -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 拍照走系统相机 Intent（ACTION_IMAGE_CAPTURE），不需要也不声明 CAMERA
         权限：一旦声明，image_picker 会要求运行时授权，而 Android 对永久拒绝的
         权限不会再弹窗，会导致“拒绝一次后拍照永久不可用”。不声明即可直接调起
         系统相机，无授权阻塞。相册选择走 Photo Picker / ACTION_GET_CONTENT，
         同样无需媒体库权限。 -->
    <!-- 相机仅用于网页内的拍照/上传，非核心硬件要求：无相机设备也能安装。 -->
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <!-- 强制移除媒体库/存储权限：即使依赖库合并了这些权限，也会被剥离。
         相册选择依赖系统 Photo Picker（Android 13+）或 ACTION_GET_CONTENT，
         这两者都不需要 READ_MEDIA_* / READ_EXTERNAL_STORAGE。 -->
    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        tools:node="remove"/>
    <uses-permission
        android:name="android.permission.READ_MEDIA_VIDEO"
        tools:node="remove"/>
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:node="remove"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:node="remove"/>
    <application
        android:label="Stocks Widget"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
        <meta-data
            android:name="io.flutter.embedding.android.NormalTheme"
            android:resource="@style/NormalTheme"
            />
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Stocks Widget home-screen widget: renders the quote snapshot that
             the Flutter app pushes after every successful refresh. -->
        <receiver
            android:name=".StocksWidgetProvider"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/stocks_widget_info" />
        </receiver>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <!-- Disable Impeller: its Android WebView platform-view compositing is
             known to render black on emulators/older GPUs. Skia is stable. -->
        <meta-data
            android:name="io.flutter.embedding.android.EnableImpeller"
            android:value="false" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
